<li id="post-<%= post.id %>">
  <span class="title"><%= post.title %></span><br>
  <% if logged_in? %>
    <span class="author">Author: <%= post.user.name %></span>
  <% else %>
    <span class="author">Author: <div class="red">[hidden from non-members]</div></span>
  <% end %>
  <span class="body"><%= post.body %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
</li>
