<span class="heading">Create New Post</span><br>

<% if @post.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@post.errors.count, "error") %>.
    </div>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@post) do |f| %>
  <%= f.label :title, 'title:' %>
  <%= f.text_field :title, class: 'form-control' %>
  <%= f.label :body, 'body text:' %>
  <%= f.text_area :body, size: "25x15", class: 'form-control' %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>

<%= render 'layouts/github' %>
